<!DOCTYPE html>
<html lang="fr">
<!-- usage: run 'python app.py' in a terminal and go to http://localhost:5000/ -->

<head>
  <meta charset="UTF-8">
  <title>Finance Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home-style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="/static/chart-lib.js"></script>
</head>

<body>

  <div id="top-bar">
    <div id="top-bar-first-row">
      <form id="save-form">
        <button id="save" type="submit">Sauvegarder</button>
        <button id="logout" type="submit">Sauvegarder et quitter</button>
        <button id="quit" type="submit">Quitter</button>
        <button id="local_copy" type="submit">Copie locale</button>
      </form>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div id="flashed-messages">
        {% for msg in messages %}
        <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>

    <div id="top-bar-second-row">
      <label>Filtrer selon compte: </label>
      <select id="account-filter"></select>
    </div>

  </div>

  <h1>Comptes</h1>

  <form id="entry-form">
    <div>
      <label for="date">Date :</label>
      <input type="date" id="date" name="date" required>
      <script>
        document.getElementById("date").value = new Date().toISOString().substring(0, 10);
      </script>
    </div>

    <div>
      <label for="amount">Prix :</label>
      <input type="number" id="amount" name="amount" placeholder="Prix" required step="0.01">
    </div>

    <div>
      <label for="note">Description :</label>
      <input type="text" id="note" name="note" placeholder="Écrire description">
    </div>

    <div>
      <label for="category">Catégorie :</label>
      <select id="category" name="category"></select>
      <button id="add-category" type="button">Nouvelle catégorie</button>
    </div>

    <div>
      <label for="account">Compte :</label>
      <select id="account" name="account"></select>
      <button id="add-account" type="button">Nouveau compte</button>
    </div>

    <div>
      <label for="submit">‎ </label> <!-- to align with other fields -->
      <button type="submit">Nouvelle Entrée</button>
    </div>
  </form>


  <div class="table-row">
    <div class="table-box">
      <h2>Dépenses mensuelles</h2>
      <table id="current-month-table" class="entries-table" border="1">
        <thead>
          <tr>
            <th>Date</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Compte</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Entries will go here -->
        </tbody>
      </table>
    </div>

    <div class="table-box">
      <h2>Dépenses par mois et catégorie</h2>
      <section class="chart-section">
        <canvas id="moneyChart" width="600" height="300"></canvas>
      </section>
    </div>
  </div>

  <div class="table-row">
    <div class="table-box">
      <h2>Historique des dépenses</h2>
      <table id="all-entries-table" class="entries-table" border="1">
        <thead>
          <tr>
            <th>Date</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Compte</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Entries will go here -->
        </tbody>
      </table>
    </div>
    
    <div class="table-box" id="monthly-balance">
      <h2>Bilan par mois</h2>
      <table id="monthly-balance-table" class="balance-table" border="1">
        <thead>
          <tr>
            <th>Mois</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- Entries will go here -->
        </tbody>
      </table>
    </div>
  </div>


  <script src="{{ url_for('static', filename='chart.js') }}"></script>

</body>

</html>
