<!DOCTYPE html>
<html>

<head>
  <title>Expenses</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="background-img">
  <h2>Enter password to unlock database</h2>
  <form method="post">
    <input type="password" name="password" placeholder="Decryption password">
    <button type="submit">Unlock</button>
  </form>
  <!-- <button type="submit">Refresh Drive Token</button> -->
  {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
</body>

</html>
