<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <h2>Login</h2>
  <form method="post" action="{{ url_for('login') }}">
    <label>Password:</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
  </form>

{% for message in get_flashed_messages() %}
  <p style="color:red;">{{ message }}</p>
{% endfor %}
  <!-- {% with messages = get_flashed_messages(with_categories=true) %} -->
  <!-- {% if messages %} -->
  <!-- {% for category, message in messages %} -->

  <!-- {{ message }} -->

  <!-- {% endfor %} -->
  <!-- {% endif %} -->
  <!-- {% endwith %} -->
  <!-- {% if error %} -->
  <!-- <p style="color: red;">{{ error }}</p> -->
  <!-- {% endif %} -->
</body>

</html>
