<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Finance Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <div id="login-frame">
    <h3>Login</h3>
    <form method="post" action="{{ url_for('login') }}">
      <label>Password:</label>
      <input type="password" name="password">
      <button type="submit">Login</button>
    </form>

    {% for message in get_flashed_messages() %}
    <p style="color:red;">{{ message }}</p>
    {% endfor %}
  </div>

</body>

</html>
